structlog

docx2txt
ipykernel
python-dotenv
python-multipart

langsmith

langchain
langchain-core
langchain-community
langchain-classic

langchain-groq
langchain-google-genai

fastembed

pydantic
fastapi
uvicorn
pypdf
pandas
openevals
faiss-cpu